<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <base href="/">

    <title> Autogame </title>

    <!-- Bootstrap core CSS -->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet"
          type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Press Start 2P' rel='stylesheet' type="text/css">

    <!-- Plugin CSS -->
    <link href="vendor/magnific-popup/magnific-popup.css" rel="stylesheet" type="text/css">

    <!-- Custom styles for this template -->
    <link href="css/freelancer.min.css" rel="stylesheet">

    <link href="css/tablescore.css" rel="stylesheet">

     <!--<link href="css/aut.facebook.css" rel="stylesheet">-->
    <link href="css/aut.whatsapp.css" rel="stylesheet">


</head>

<body id="page-top">

<!-- Navigation -->
<nav class="navbar navbar-expand-lg bg-secondary fixed-top text-uppercase" id="mainNav">
    <div class="container">
        <div>
            <!--
            <img src="/img/autogame_logo-fb.png" class="logo">
            -->
            <img src="/img/autogame_logo-whatsapp.png" class="logo">
            <a class="navbar-brand js-scroll-trigger" href="#page-top">AutoGame</a>
        </div>
        <div>
            <!-- <img src="/img/logo-messenger.png" class="brand-logo" alt="Logo Messenger"> -->
            <svg id="Layer_1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="30" height="30"><path fill="#FFFFFF" fill-opacity=".6" d="M12 7a2 2 0 1 0-.001-4.001A2 2 0 0 0 12 7zm0 2a2 2 0 1 0-.001 3.999A2 2 0 0 0 12 9zm0 6a2 2 0 1 0-.001 3.999A2 2 0 0 0 12 15z"></path></svg>
        </div>
    </div>
</nav>


<!-- About Section -->
<section class="bg-primary text-white mb-0" id="about">
    <div class="container" style="margin-top: 6%">
        <h2 class="text-center text-uppercase text-secondary mb-0">High Score Table</h2>
        <div class="row" style="margin-top: 4%">

            <div class="col-md-12">
                <table class="table-score">
                    <thead>
                    <tr>
                        <th width="100">
                            <span class="th-position"></span>
                        </th>
                        <th style="width: 28%;">
                            <span class="th-name"></span>
                            Name
                        </th>
                        <th>
                            <span class="th-score"></span>
                            Final Score
                        </th>
                        <th style="width: 18%;">
                            <span class="th-game-score"></span>
                            Game Score
                        </th>
                        <th style="width: 15%">
                            <span class="th-fails"></span>
                            Fails
                        </th>
                    </tr>
                    </thead>
                    <tbody>

                    <% for( var i = 0; i < scores.length; i++){ %>

                        <% if(i == 0){
                        if(currentValues.player == scores[i].player && currentValues.finalScore == scores[i].finalScore && currentValues.actualScoreInTheGame == scores[i].actualScoreInTheGame){ %>
                        <tr class="bg-info" class="first">
                            <% }else{ %>
                        <tr class="first">
                            <% } %>
                            <td>1ST</td>
                            <% } %>

                            <% if(i == 1){
                            if(currentValues.player == scores[i].player && currentValues.finalScore == scores[i].finalScore && currentValues.actualScoreInTheGame == scores[i].actualScoreInTheGame){ %>
                        <tr class="bg-info" class="second">
                            <% }else{ %>
                        <tr class="second">
                            <% } %>
                            <td>2ND</td>
                            <% } %>

                            <% if(i == 2){
                            if(currentValues.player == scores[i].player && currentValues.finalScore == scores[i].finalScore && currentValues.actualScoreInTheGame == scores[i].actualScoreInTheGame){ %>
                        <tr class="bg-info">
                            <% }else{ %>
                        <tr>
                            <% } %>
                            <td>3RD</td>
                            <% } %>

                            <% if(i >= 3){
                            if(currentValues.player == scores[i].player && currentValues.finalScore == scores[i].finalScore && currentValues.actualScoreInTheGame == scores[i].actualScoreInTheGame){ %>
                        <tr class="bg-info">
                            <% }else{ %>
                        <tr>
                            <% } %>
                            <td><%= i + 1 %>TH</td>
                            <% } %>

                            <!--No move-->
                            <td><%= scores[i].player %></td>
                            <td><%= scores[i].finalScore %></td>
                            <td><%= scores[i].actualScoreInTheGame %></td>
                            <td><%= scores[i].fails %></td>
                        <tr>

                    <% } %>

                    </tbody>
                </table>
            </div>
        </div>


        <form action="/" method="GET">
            <div class="text-center mt-4">
                <button class="btn-go-registry">
                    Go to Registry
                </button>
            </div>
        </form>
    </div>

</section>


<!-- Footer -->
<footer class="footer text-center">
    <div class="container">
        <div class="row">
            <div class="col-md-4 mb-5 mb-lg-0">
                <h4 class="text-uppercase mb-4"></h4>
                <p class="lead mb-0"></p>
            </div>
            <div class="col-md-4 mb-5 mb-lg-0">
                <h4 class="text-uppercase mb-4">Test Automation</h4>
            </div>
            <div class="col-md-4">
                <h4 class="text-uppercase mb-4"></h4>
                <p class="lead mb-0"></p>

            </div>
        </div>
    </div>
</footer>

<!-- Bootstrap core JavaScript -->
<script src="vendor/jquery/jquery.min.js"></script>
<script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

<!-- Plugin JavaScript -->
<script src="vendor/jquery-easing/jquery.easing.min.js"></script>
<script src="vendor/magnific-popup/jquery.magnific-popup.min.js"></script>

<!-- Contact Form JavaScript -->
<script src="js/jqBootstrapValidation.js"></script>
<script src="js/contact_me.js"></script>

<!-- Custom scripts for this template -->
<script src="js/freelancer.min.js"></script>

</body>

</html>
